*{
  box-sizing: border-box;

}


body{
font-family: 'Outfit', sans-serif;
background-color: hsl(212, 45%, 89%);
}

h1{
  font-size: 23px;
  text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p{
  font-size: 15px;
  text-align: center;
  margin-top: 12px;
  padding: 0 12px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}

img{
  width:100%;
  height: 288px;
  border-radius: 10px;

}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.card{
  align-items: center;
  border-radius: 5%;
  width: 300px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
}

.attribution{
  font-size: 11px;
  text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
 }

